<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 Web Piano</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
    <h1>ESP32 Web Piano</h1>
    <button onclick="location.href='{{ url_for('index') }}'">Back</button>


    <div class="piano">

        <div class="key white" data-note="c4" data-key="a"><span>C4</span></div>
        <div class="key white" data-note="d4" data-key="s"><span>D4</span></div>
        <div class="key white" data-note="e4" data-key="d"><span>E4</span></div>
        <div class="key white" data-note="f4" data-key="f"><span>F4</span></div>
        <div class="key white" data-note="g4" data-key="g"><span>G4</span></div>
        <div class="key white" data-note="a4" data-key="h"><span>A4</span></div>
        <div class="key white" data-note="b4" data-key="j"><span>B4</span></div>
        <div class="key white" data-note="c5" data-key="k"><span>C5</span></div>

      
    </div>

    <p id="ws-status">Статус WebSocket: Подключение...</p>


    <div id="audio-container" style="display: none;">
        <audio id="audio_c4" src="{{ url_for('static', filename='audio/c4.wav') }}" preload="auto"></audio>
        <audio id="audio_d4" src="{{ url_for('static', filename='audio/d4.wav') }}" preload="auto"></audio>
        <audio id="audio_e4" src="{{ url_for('static', filename='audio/e4.wav') }}" preload="auto"></audio>
        <audio id="audio_f4" src="{{ url_for('static', filename='audio/f4.wav') }}" preload="auto"></audio>
        <audio id="audio_g4" src="{{ url_for('static', filename='audio/g4.wav') }}" preload="auto"></audio>
        <audio id="audio_a4" src="{{ url_for('static', filename='audio/a4.wav') }}" preload="auto"></audio>
        <audio id="audio_b4" src="{{ url_for('static', filename='audio/b4.wav') }}" preload="auto"></audio>
        <audio id="audio_c5" src="{{ url_for('static', filename='audio/c5.wav') }}" preload="auto"></audio>
       
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script></body>
</html>